.place__title {
    margin: 12px 43px 52px 0;
    width: 460px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .place__title {
        width: 440px;
        margin: 20px 32px 40px 0;
    }
}

@media screen and (max-width: 1000px) {
    .place__title {
        width: 330px;
        margin: 8px 38px 40px 0;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 720px) {
    .place__title {
        width: 343px;
        margin: 0 0 36px 16px;
        font-size: 32px;
line-height: 35px;
    }
}