.content-subtitle {
    max-width: 640px;
    margin: auto;
    margin-top: 42px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 1280px) {
    .content-subtitle  {
        margin-top: 38px;
    }
}

@media screen and (max-width: 1024px) {
    .content-subtitle  {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .content-subtitle  {
        margin-top: 26px;
    }
}

@media screen and (max-width: 650px) {
    .content-subtitle {
        font-size: 16px;
line-height: 23px;
margin-top: 22px;
    }
}

@media screen and (max-width: 320px) {
    .content-subtitle {
        max-width: 260px;
    }
}

