.comments__container-author {
    margin-top: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width: 990px) {
    .comments__container-author {
   text-align: center;
    order: 2;
    }
}